.main-container {
  padding: 1.5rem;
}

header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: rgb(255, 255, 255);
  background-color: rgb(76, 175, 80);
}

.location {
  font-size: 1.25rem;
  letter-spacing: 1px;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 100vmax;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  overflow: hidden;
  cursor: pointer;
  transition: width 300ms ease-in;
}

.icon:hover {
  width: 6rem;
}

.icon>span {
  display: none;
  font-size: 0.75rem;
}

.icon:hover>span {
  display: block;
}

.card-grid {
  color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background-color: #4caf50;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-content {
  display: flex;
  align-items: center;
}

.data {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  margin: 1.1rem 0 1.1rem 0;
}

.name {
  font-weight: 600;
}

.icon-box {
  padding-left: 2rem;
  font-size: 58px;
  margin-left: 20px;
}

.container {
  top: 0;
  left: 0;
  margin-top: 1.5rem;
  max-width: 800px;
}
.table {
  margin-top: 1.5rem;
}