<header>
    <div class="location">Products</div>
    <div class="icon">
      <mat-icon fontIcon="person"></mat-icon><span>Logout</span>
    </div>
  </header>
  <div class="main-container">
    <div class="card-grid">
      <div class="card">
        <h3>Card 1</h3>
        <p>This is the content of Card 1.</p>
      </div>
      <div class="card">
        <h3>Card 2</h3>
        <p>This is the content of Card 2.</p>
      </div>
      <div class="card">
        <h3>Card 3</h3>
        <p>This is the content of Card 3.</p>
      </div>
    </div>
  </div>